@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Global Reset */

html,
body,
#root {

  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 100vh;

  overflow-x: hidden;

}

/* Universal */

* {

  box-sizing: border-box;

  font-family: 'Outfit', sans-serif;

}

/* Body */

body {

  min-height: 100vh;

  background-color: #ffffff;

}

/* Links */

a {

  text-decoration: none;

  color: inherit;

}

/* App Container */

.app {

  width: 100%;

  margin: auto;

}

/* Prevent Image Overflow */

img {

  max-width: 100%;

  display: block;

}

/* Smooth Horizontal Scroll */

.no-scrollbar::-webkit-scrollbar {

  display: none;

}

.no-scrollbar {

  -ms-overflow-style: none;

  scrollbar-width: none;

  scroll-behavior: smooth;

}

/* Fade Animation */

@keyframes fadeIn {

  0% {

    opacity: 0;

  }

  100% {

    opacity: 1;

  }

}

/* Tailwind Utility */

@utility hide-scrollbar {

  &::-webkit-scrollbar {

    display: none;

  }

}

/* Theme */

@theme {

  --color-primary: #2b6ece;

  --grid-template-columns-auto:
    repeat(auto-fit, minmax(220px, 1fr));

}

/* Active Navbar */

.active hr {

  @apply block;

}

/* Hide Scrollbars */

::-webkit-scrollbar {

  @apply hidden;

}

/* Mobile Responsive */

@media(max-width:740px) {

  .active p {

    @apply text-white bg-primary;

  }

}